
@{
    ViewBag.Title = "Form";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.>*@

<style>
    .icon-list {
        color: white;
        background-color: #5a67ff;
        padding: 8px;
    }
</style>

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Tables</h4>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Library
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quản lý tài khoản</h5>

                        @*@using (Html.BeginForm("DeleteAll", "Users", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()*@

                        <p>
                            @*@Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })*@
                            <input type="submit" value="Xóa bỏ" onclick="return confirm('Are you sure you wish to delete selected Students?');" class="btn btn-danger" />
                        </p>

                        <div class="table-responsive">
                            <table id="zero_config"
                                   class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th> <input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
                                        <th>Avatar</th>
                                        <th>Role</th>
                                        <th>Usser Name</th>
                                        @*<th>Password</th>*@
                                        <th>Full Name</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        @*<th>Create At</th>
                                            <th>Update At</th>*@
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            <input type="checkbox" name="ids" value="" />
                                        </td>
                                        <td>
                                            Avatar
                                        </td>
                                        <td>
                                            Nat
                                        </td>
                                        <td>
                                            Haduynhat
                                        </td>
                                        <td>
                                            Ha Duy Nhat
                                        </td>
                                        <td>
                                            0817184221
                                        </td>
                                        <td>
                                            Thai binh
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a class="m-2" href="/Admin/Users/Edit/Id">
                                                    <h5><i class="fa-solid fa-pen icon-list"></i></h5>
                                                </a>
                                                <a class="m-2" href="/Admin/Users/Details/Id">
                                                    <h5><i class="fa-solid fa-circle-info icon-list"></i></h5>
                                                </a>
                                            </div>

                                        </td>

                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="checkbox" name="ids" value="" />
                                        </td>
                                        <td>
                                            Avatar
                                        </td>
                                        <td>
                                            Nat
                                        </td>
                                        <td>
                                            Haduynhat
                                        </td>
                                        <td>
                                            Ha Duy Nhat
                                        </td>
                                        <td>
                                            0817184221
                                        </td>
                                        <td>
                                            Thai binh
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a class="m-2" href="/Admin/Users/Edit/Id">
                                                    <h5><i class="fa-solid fa-pen icon-list"></i></h5>
                                                </a>
                                                <a class="m-2" href="/Admin/Users/Details/Id">
                                                    <h5><i class="fa-solid fa-circle-info icon-list"></i></h5>
                                                </a>
                                            </div>

                                        </td>

                                    </tr>

                                    <tr>
                                        <td>
                                            <input type="checkbox" name="ids" value="" />
                                        </td>
                                        <td>
                                            Avatar
                                        </td>
                                        <td>
                                            Nat
                                        </td>
                                        <td>
                                            Haduynhat
                                        </td>
                                        <td>
                                            Ha Duy Nhat
                                        </td>
                                        <td>
                                            0817184221
                                        </td>
                                        <td>
                                            Thai binh
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a class="m-2" href="/Admin/Users/Edit/Id">
                                                    <h5><i class="fa-solid fa-pen icon-list"></i></h5>
                                                </a>
                                                <a class="m-2" href="/Admin/Users/Details/Id">
                                                    <h5><i class="fa-solid fa-circle-info icon-list"></i></h5>
                                                </a>
                                            </div>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer text-center">
        All Rights Reserved by Matrix-admin. Designed and Developed by
        <a href="https://www.wrappixel.com">WrapPixel</a>.
    </footer>
</div>

<script>
    $("#zero_config").DataTable();
</script>

