@using Doctor_Forum_eProject_SEM3.Common
@{
    ViewBag.Title = "Search";
    ViewBag.Genders = new SelectList(GenderKey.GetDic(), "Key", "Value");
}
@section jsFooter{
    <script src="~/Content/js/client/userRegister.js"></script>
}
<div class="section-searchbar" id="search-bar">
    <div class="container">
        <div class="row" style="height: 120px; padding: 20px; background-color: #2FBBB0">
            <div class="col-md-12 ">
                <span style="color: white; font-size: 20px;padding-bottom: 3px">Bạn muốn tìm gì ?</span>
                <!-- BEGIN Search Bar -->
                <form action="/tim-kiem" method="get" id="srchfrm">
                    <div class="search-bar clearfix form-group-lg row" style="margin-left: 1px">
                        <div class="search-input-col text-center" style="width: 38%">
                            <input type="text" value="" maxlength="255" id="search_top_content" name="q" placeholder="Tìm kiếm phòng khám, bệnh viện, bác sỹ, nhà thuốc từ A - Z và hơn thế nữa." class="form-control">
                        </div>
                        <div class="location-col text-center" id="select_city" style="margin-left: 15px; width: 15%">
                          @*  <select class="form-control py-0" name="c">
                                <option>Thành Phố</option>
                            </select>*@
                            @Html.DropDownList("ProvinceId", new SelectList(new string[] { }), new { @class = "form-control", @id = "ddlProvince", @style = "padding: 0 15px;" })
                        </div>
                        <div class="location-col text-center" style="margin-left: 15px; width: 15%">
                            <select class="form-control py-0" name="c">
                                <option>Quận Huyện</option>
                            </select>

                        </div>
                        <div class="department-col" style="margin-left: 15px ; width: 15%">
                            <select class="form-control py-0" name="s" id="chuyen-khoa">
                                <option value='-1'>Chuyên khoa</option>
                                <option value='Chẩn đoán hình ảnh'>Chẩn đoán hình ảnh</option>
                                <option value='Chấn thương chỉnh hình - Cột sống'>Chấn thương chỉnh hình - Cột sống</option>
                                <option value='Cơ Xương Khớp'>Cơ Xương Khớp</option>
                                <option value='Da liễu'>Da liễu</option>
                                <option value='Dinh dưỡng'>Dinh dưỡng</option>
                                <option value='Di truyền & Sinh học phân tử'>Di truyền & Sinh học phân tử</option>
                                <option value='Dị ứng'>Dị ứng</option>
                                <option value='Dược'>Dược</option>
                                <option value='Đông y'>Đông y</option>
                                <option value='Gây mê hồi sức'>Gây mê hồi sức</option>
                                <option value='Giải phẫu bệnh'>Giải phẫu bệnh</option>
                                <option value='Hiếm muộn - Vô sinh'>Hiếm muộn - Vô sinh</option>
                                <option value='Hô hấp'>Hô hấp</option>
                                <option value='Hồi sức - Cấp cứu'>Hồi sức - Cấp cứu</option>
                                <option value='Kiểm soát nhiễm khuẩn'>Kiểm soát nhiễm khuẩn</option>
                                <option value='Lão khoa'>Lão khoa</option>
                                <option value='Mắt'>Mắt</option>
                                <option value='Nam khoa'>Nam khoa</option>
                                <option value='Ngoại'>Ngoại</option>
                                <option value='Nha khoa'>Nha khoa</option>
                                <option value='Nhi'>Nhi</option>
                                <option value='Nội'>Nội</option>
                                <option value='Nội soi'>Nội soi</option>
                                <option value='Nội tiết'>Nội tiết</option>
                                <option value='Răng hàm mặt'>Răng hàm mặt</option>
                                <option value='Sản phụ khoa'>Sản phụ khoa</option>
                                <option value='Tai mũi họng'>Tai mũi họng</option>
                                <option value='Tâm thần'>Tâm thần</option>
                                <option value='Thăm dò chức năng'>Thăm dò chức năng</option>
                                <option value='Thẩm mỹ'>Thẩm mỹ</option>
                                <option value='Thần kinh'>Thần kinh</option>
                                <option value='Thận - Tiết niệu'>Thận - Tiết niệu</option>
                                <option value='Tiêu hóa - Gan mật'>Tiêu hóa - Gan mật</option>
                                <option value='Tim mạch'>Tim mạch</option>
                                <option value='Truyền nhiễm'>Truyền nhiễm</option>
                                <option value='Ung bướu'>Ung bướu</option>
                                <option value='Vật lý trị liệu - Phục hồi chức năng'>Vật lý trị liệu - Phục hồi chức năng</option>
                                <option value='Xét nghiệm'>Xét nghiệm</option>
                                <option value='Y tế dự phòng'>Y tế dự phòng</option>
                            </select>
                        </div>
                        <div class="search-submit-col" style="margin-left: 15px; background-color: hotpink; width: 11%">
                            <a href="#" id="btn-search-top" class="btn btn-block btn-lg btn-search" ; style="font-size: 14px"><i class="icon-magnifier icons"></i> Tìm kiếm</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
