USE [master]
GO
/****** Object:  Database [DoctorForum]    Script Date: 4/22/2022 10:14:01 AM ******/
CREATE DATABASE [DoctorForum]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoctorForum', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DoctorForum.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DoctorForum_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DoctorForum_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoctorForum].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoctorForum]
GO
/****** Object:  Table [dbo].[AccountDetails]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AccountDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](250) NULL,
	[Phone] [varchar](15) NULL,
	[Gender] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AccountId] [int] NULL,
 CONSTRAINT [PK_AccountDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[Avatar] [nvarchar](max) NULL,
	[UserName] [nvarchar](250) NULL,
	[Password] [nvarchar](250) NULL,
	[FullName] [nvarchar](250) NULL,
	[AddressDetail] [nvarchar](max) NULL,
	[DistrictId] [int] NULL,
	[ProvinceId] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [bit] NULL,
	[SpecializationId] [int] NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Achievements]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[AccountId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpatedAt] [datetime] NULL,
 CONSTRAINT [PK_Achievements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [int] NOT NULL,
	[RepId] [int] NULL,
	[Type] [int] NULL,
	[Link] [nvarchar](max) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Attachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Experiences]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NULL,
	[StartYear] [nchar](50) NULL,
	[EndYear] [nchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Workplace] [nvarchar](max) NULL,
	[Position] [nvarchar](max) NULL,
 CONSTRAINT [PK_Experiences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Posts]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Type] [int] NULL,
	[SpecializationId] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[AccountId] [int] NULL,
	[Tag] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Professional]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professional](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProfessionalName] [nvarchar](max) NULL,
	[AccountId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Professional] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Qualifications]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [nchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[AccountId] [int] NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[School] [nvarchar](max) NULL,
 CONSTRAINT [PK_Qualifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Replies]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Replies](
	[Id] [int] NOT NULL,
	[ParenId] [int] NULL,
	[PostId] [int] NULL,
	[AccountId] [int] NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Replies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specializations]    Script Date: 4/22/2022 10:14:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specializations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AccountDetails] ON 

INSERT [dbo].[AccountDetails] ([Id], [Email], [Phone], [Gender], [Status], [CreatedAt], [UpdatedAt], [AccountId]) VALUES (1, N'datdeptraiganbangthangroiday@gmail.com', N'0976765565', 1, 1, CAST(N'2022-04-16 17:24:34.950' AS DateTime), CAST(N'2022-04-16 17:24:34.950' AS DateTime), 4)
INSERT [dbo].[AccountDetails] ([Id], [Email], [Phone], [Gender], [Status], [CreatedAt], [UpdatedAt], [AccountId]) VALUES (2, N'datdeptraiganbangthangroidayhihi@gmail.com', N'0976765565', 1, 1, CAST(N'2022-04-17 11:18:03.247' AS DateTime), CAST(N'2022-04-17 11:18:03.247' AS DateTime), 5)
INSERT [dbo].[AccountDetails] ([Id], [Email], [Phone], [Gender], [Status], [CreatedAt], [UpdatedAt], [AccountId]) VALUES (4, N'datdeptraiganbangthangroiday@gmail.com', N'0976765565', 1, 1, CAST(N'2022-04-18 01:12:54.720' AS DateTime), CAST(N'2022-04-18 01:12:54.720' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[AccountDetails] OFF
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([Id], [RoleId], [Avatar], [UserName], [Password], [FullName], [AddressDetail], [DistrictId], [ProvinceId], [CreatedAt], [UpdatedAt], [Status], [SpecializationId]) VALUES (2, 1, N'https://i.pinimg.com/236x/ff/4f/c3/ff4fc3f2cbe6f1b6f9acbef2981f6d36.jpg', N'vana', N'vana', N'nguyenvana', N'yenhoa', NULL, NULL, CAST(N'2022-04-16 13:29:00.740' AS DateTime), CAST(N'2022-04-16 13:29:00.740' AS DateTime), NULL, 2)
INSERT [dbo].[Accounts] ([Id], [RoleId], [Avatar], [UserName], [Password], [FullName], [AddressDetail], [DistrictId], [ProvinceId], [CreatedAt], [UpdatedAt], [Status], [SpecializationId]) VALUES (3, 1, N'https://i.pinimg.com/236x/ff/4f/c3/ff4fc3f2cbe6f1b6f9acbef2981f6d36.jpg', N'vana', N'vana', N'nguyenvana', N'yenhoa', NULL, NULL, CAST(N'2022-04-16 13:31:05.597' AS DateTime), CAST(N'2022-04-16 13:31:05.597' AS DateTime), NULL, 2)
INSERT [dbo].[Accounts] ([Id], [RoleId], [Avatar], [UserName], [Password], [FullName], [AddressDetail], [DistrictId], [ProvinceId], [CreatedAt], [UpdatedAt], [Status], [SpecializationId]) VALUES (4, 1, N'https://i.pinimg.com/236x/ff/4f/c3/ff4fc3f2cbe6f1b6f9acbef2981f6d36.jpg', N'vana', N'vana', N'nguyenvana', N'yenhoa', 11, 1, CAST(N'2022-04-16 17:24:34.780' AS DateTime), CAST(N'2022-04-16 17:24:34.783' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
SET IDENTITY_INSERT [dbo].[Achievements] ON 

INSERT [dbo].[Achievements] ([Id], [Year], [Description], [AccountId], [Status], [CreatedAt], [UpatedAt]) VALUES (2, N'2012', N'thành tích ', 7, 1, CAST(N'2022-04-18 01:12:54.730' AS DateTime), CAST(N'2022-04-18 01:12:54.730' AS DateTime))
INSERT [dbo].[Achievements] ([Id], [Year], [Description], [AccountId], [Status], [CreatedAt], [UpatedAt]) VALUES (3, N'2012', N'thành tích ', 8, 1, CAST(N'2022-04-18 02:25:24.857' AS DateTime), CAST(N'2022-04-18 02:25:24.857' AS DateTime))
INSERT [dbo].[Achievements] ([Id], [Year], [Description], [AccountId], [Status], [CreatedAt], [UpatedAt]) VALUES (4, NULL, NULL, 9, 1, CAST(N'2022-04-18 17:23:36.577' AS DateTime), CAST(N'2022-04-18 17:23:36.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[Achievements] OFF
SET IDENTITY_INSERT [dbo].[Experiences] ON 

INSERT [dbo].[Experiences] ([Id], [AccountId], [StartYear], [EndYear], [Description], [Status], [CreatedAt], [UpdatedAt], [Workplace], [Position]) VALUES (1, 7, N'2014                                              ', N'2016                                              ', N'Làm khá là lâu rồi', 1, CAST(N'2022-04-18 01:12:54.733' AS DateTime), CAST(N'2022-04-18 01:12:54.733' AS DateTime), N'Bệnh viện đa khoa tỉnh phú thọ', N'Phụ tá')
INSERT [dbo].[Experiences] ([Id], [AccountId], [StartYear], [EndYear], [Description], [Status], [CreatedAt], [UpdatedAt], [Workplace], [Position]) VALUES (2, 8, N'2014                                              ', N'2016                                              ', N'Làm khá là lâu rồi', 1, CAST(N'2022-04-18 02:25:24.870' AS DateTime), CAST(N'2022-04-18 02:25:24.870' AS DateTime), N'Bệnh viện đa khoa tỉnh phú thọ', N'Phụ tá')
INSERT [dbo].[Experiences] ([Id], [AccountId], [StartYear], [EndYear], [Description], [Status], [CreatedAt], [UpdatedAt], [Workplace], [Position]) VALUES (3, 9, NULL, NULL, NULL, 1, CAST(N'2022-04-18 17:23:36.587' AS DateTime), CAST(N'2022-04-18 17:23:36.587' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Experiences] OFF
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([Id], [Title], [Content], [Type], [SpecializationId], [Image], [AccountId], [Tag], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'test 1', N'content1', 1, 2, N'test.jpg', 12, N'nhi', 0, CAST(N'2022-04-18 23:56:04.957' AS DateTime), CAST(N'2022-04-18 23:56:04.957' AS DateTime))
SET IDENTITY_INSERT [dbo].[Posts] OFF
SET IDENTITY_INSERT [dbo].[Professional] ON 

INSERT [dbo].[Professional] ([Id], [ProfessionalName], [AccountId], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Bác sĩ', 7, 1, CAST(N'2022-04-18 01:12:54.730' AS DateTime), CAST(N'2022-04-18 01:12:54.730' AS DateTime))
INSERT [dbo].[Professional] ([Id], [ProfessionalName], [AccountId], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Bác sĩ', 8, 1, CAST(N'2022-04-18 02:25:24.860' AS DateTime), CAST(N'2022-04-18 02:25:24.860' AS DateTime))
INSERT [dbo].[Professional] ([Id], [ProfessionalName], [AccountId], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, NULL, 9, 1, CAST(N'2022-04-18 17:23:36.580' AS DateTime), CAST(N'2022-04-18 17:23:36.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[Professional] OFF
SET IDENTITY_INSERT [dbo].[Qualifications] ON 

INSERT [dbo].[Qualifications] ([Id], [Year], [Description], [AccountId], [Status], [CreatedAt], [UpdatedAt], [School]) VALUES (1, N'2022                                              ', N'thành tích ', 7, 1, CAST(N'2022-04-18 01:12:54.733' AS DateTime), CAST(N'2022-04-18 01:12:54.733' AS DateTime), N'Cao đẳng y phú thọ')
INSERT [dbo].[Qualifications] ([Id], [Year], [Description], [AccountId], [Status], [CreatedAt], [UpdatedAt], [School]) VALUES (2, N'2022                                              ', N'thành tích ', 8, 1, CAST(N'2022-04-18 02:25:24.867' AS DateTime), CAST(N'2022-04-18 02:25:24.867' AS DateTime), N'Cao đẳng y phú thọ')
INSERT [dbo].[Qualifications] ([Id], [Year], [Description], [AccountId], [Status], [CreatedAt], [UpdatedAt], [School]) VALUES (3, NULL, NULL, 9, 1, CAST(N'2022-04-18 17:23:36.583' AS DateTime), CAST(N'2022-04-18 17:23:36.583' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Qualifications] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'User', 1, CAST(N'2022-04-16 00:00:00.000' AS DateTime), CAST(N'2022-04-16 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Specializations] ON 

INSERT [dbo].[Specializations] ([Id], [Name], [Title], [Description], [Image], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, N'Sản phụ khoa', N'Sản phụ khoa', N'Liên quan đến phụ nữ', N'https://chiaseyhoc.net/imgpc/icons/san.svg', 1, CAST(N'2022-04-16 00:00:00.000' AS DateTime), CAST(N'2022-04-16 00:00:00.000' AS DateTime))
INSERT [dbo].[Specializations] ([Id], [Name], [Title], [Description], [Image], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, N'Nhi', N'Nhi', N'Liên quan đến trẻ em', N'https://chiaseyhoc.net/imgpc/icons/nhi.svg', 1, CAST(N'2022-04-16 00:00:00.000' AS DateTime), CAST(N'2022-04-16 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Specializations] OFF
ALTER TABLE [dbo].[AccountDetails]  WITH CHECK ADD  CONSTRAINT [FK_AccountDetails_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[AccountDetails] CHECK CONSTRAINT [FK_AccountDetails_Accounts]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Specializations] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([Id])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Specializations]
GO
ALTER TABLE [dbo].[Achievements]  WITH CHECK ADD  CONSTRAINT [FK_Achievements_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Achievements] CHECK CONSTRAINT [FK_Achievements_Accounts]
GO
ALTER TABLE [dbo].[Attachments]  WITH CHECK ADD  CONSTRAINT [FK_Attachments_Replies] FOREIGN KEY([RepId])
REFERENCES [dbo].[Replies] ([Id])
GO
ALTER TABLE [dbo].[Attachments] CHECK CONSTRAINT [FK_Attachments_Replies]
GO
ALTER TABLE [dbo].[Experiences]  WITH CHECK ADD  CONSTRAINT [FK_Experiences_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Experiences] CHECK CONSTRAINT [FK_Experiences_Accounts]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Accounts]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Specializations] FOREIGN KEY([SpecializationId])
REFERENCES [dbo].[Specializations] ([Id])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Specializations]
GO
ALTER TABLE [dbo].[Professional]  WITH CHECK ADD  CONSTRAINT [FK_Professional_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Professional] CHECK CONSTRAINT [FK_Professional_Accounts]
GO
ALTER TABLE [dbo].[Qualifications]  WITH CHECK ADD  CONSTRAINT [FK_Qualifications_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Qualifications] CHECK CONSTRAINT [FK_Qualifications_Accounts]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Accounts] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([Id])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Accounts]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Posts] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Posts]
GO
ALTER TABLE [dbo].[Replies]  WITH CHECK ADD  CONSTRAINT [FK_Replies_Replies] FOREIGN KEY([ParenId])
REFERENCES [dbo].[Replies] ([Id])
GO
ALTER TABLE [dbo].[Replies] CHECK CONSTRAINT [FK_Replies_Replies]
GO
USE [master]
GO
