@model IEnumerable<Doctor_Forum_eProject_SEM3.Models.Reply>
<div class="comments-area">
    <div class="sec-title">
        <h6>Comments (3)</h6>
    </div>
    @foreach (var item in Model)
    {
        <div class="comment">
            <div class="image-holder">
                <figure>
                    <img loading="lazy" src="@item.Account.Avatar" style="width: 60px" alt="">
                </figure>
            </div>
            <div class="image-text position-static">
                <h6>@item.Account.FullName<span>April 06, 2020</span></h6>
                <h5>
                    <div onclick="myFunction()" class="comment-back" style="cursor: pointer">
                        <i class="fa fa-reply-all" aria-hidden="true"></i>Comment Back
                    </div>
                </h5>
                <p>
                    @item.Message
                </p>
                @*  <div id="myDIV" style="margin-left: 49px;">
                        <div class="d-flex">
                            <div class="image-holder">
                                <figure>
                                    <img loading="lazy" src="https://inkythuatso.com/uploads/thumbnails/800/2022/03/anh-dai-dien-anime-nam-24-30-15-34-56.jpg" style="width: 60px; height: 60px" alt="">
                                </figure>
                            </div>
                            <div style="width: 100%">
                                <div class="col-lg-12">
                                    <textarea name="form_message" class="form-control textarea"
                                              placeholder="Your Comment" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    }
</div>