@model Doctor_Forum_eProject_SEM3.Models.Post
  <style>
      .link-new-post {
          font-size: 24px;
          font-weight: 500;
          color: #3a3a3a;
      }
          .link-new-post:hover {
              color: #398fef;
          }
  </style>
<div class="col-8">
    <img style="height: 337px; width: 100%; object-fit: cover; border-radius: 10px; margin: 10px 0 5px 0" src="@Model.Image">
    <p class="m-0" style="font-size: 13px">@Model.Account.FullName</p>
    <a href="/Home/PostDetail/@Model.Id" class="link-new-post"> @Model.Title</a>
</div>

