@model Doctor_Forum_eProject_SEM3.Models.Post
<div class="col-8">
    <img style="height: 337px; width: 100%; object-fit: cover; border-radius: 10px; margin: 10px 0 5px 0" src="@Model.Image">
    <p>@Model.Account.FullName</p>
    <h4 style="color: #1a1a1a">@Model.Title</h4>
</div>
@*<div class="col-4">
    <img style="height: 163px; width: 100%;object-fit: cover; border-bottom:  #b2b2b7 1px solid; border-radius: 10px 10px 0 0; margin: 10px 0 0 0" src="images/blog/idol.jpg">
    <div style="background-color: #f7f7fa">
        <span style="margin-left: 15px">Eimi Fukada 27092002</span>
        <h6 style="margin-left: 15px"><a style="color: #343434" href=""><div class="click">Và đó là Eimi Fukada!!!!!</div></a></h6>
        <p style="margin-left: 15px">Có thằng nào đó tự nhận mình nam thần đẹp trai hơn Đạt các kiểu... aisss suy nghĩ thật điên rồ vì thế Đạt chỉ cười nhẹ cho qua!!! Thật buồn vì đất nước chúng ta có những thằng Phú Thọ như Phạm Đức Thắng</p>
    </div>
</div>*@
