@model Doctor_Forum_eProject_SEM3.Models.Reply
<div class="form-area">
    <div class="sec-title">
        <h6>Leave A Comment</h6>
    </div>
    @using (Html.BeginForm("PostComment", "Posts", FormMethod.Post, new { @class = "default-form", id = "formComment" }))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                   @* <textarea name="form_message" class="form-control textarea"
                              placeholder="Your Review" required></textarea>*@
                    @Html.TextAreaFor(model => model.Message, new { htmlAttributes = new { @class = "form-control textarea", placeholder = "Your Review" }, id = "txtContent" })
                </div>
            </div>
           @* <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="form_name" class="form-control" placeholder="Your Name"
                           required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" name="form_email" class="form-control email"
                           placeholder="Your Email" required>
                </div>
            </div>*@
            <div class="col-lg-12">
                <div class="form-group form-bottom">
                    <button class="btn-style-one" id="btnsubmit" type="submit">Comment</button>
                </div>
            </div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#btnsubmit").click(function (e) {
            //Serialize the form datas.
            var valdata = $("#formComment").serialize();
            //to get alert popup
            alert(valdata);
            $.ajax({
                url: "/PostComment/Posts",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: valdata
            });
        });
    });
</script>
