
<div class="form-area">
    <div class="sec-title">
        <h6>Leave A Comment</h6>
    </div>
    @using (Html.BeginForm("PostComment", "Posts", FormMethod.Post, new { @class = "default-form", id = "formComment" }))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <textarea value="@ViewBag.Message" name="Message" class="form-control textarea" placeholder="Your Review" , id="txtContent"></textarea>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group">
                    <input value="@ViewBag.PostId" type="hidden" name="PostId" class="form-control d-none" />
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group form-bottom">
                    <button class="btn-style-one" id="btnsubmit" type="submit">Comment</button>
                </div>
            </div>
        </div>
    }
</div>
