<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="service.html">Service</a>
                </li>
                <li class="nav-itemgallery">
                    <a class="nav-link" href="gallery.html">Gallery</a>
                </li>
                <li class="nav-item team">
                    <a class="nav-link" href="team.html">Team</a>
                </li>
                <li class="nav-item appointment">
                    <a class="nav-link" href="appointment.html">Appointment</a>
                </li>
                <li class="nav-item dropdown blogs">
                    <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item blog" href="blog.html">Blog</a></li>
                        <li><a class="dropdown-item blogDetails" href="blog-details.html">Blog Details</a></li>
                        <li class="dropdown dropdown-submenu dropright">
                            <a class="dropdown-item dropdown-toggle" href="#!" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                                <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item contact">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
