<nav class=" mb-0 navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item about">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item service">
                    <a href="#" class="nav-link" data-toggle="modal" id="button-list-specialization"
                       data-target="#myModal">Specialization</a>
                </li>
                <li class="nav-item service">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#myModal">Create Post</a>
                </li>
                <!--                    <div style="margin-left: 126%; display: block">-->
                <!--                        <a class="nav-link" style="width: 67px; height: 55px;"  href="#">Sign Up</a>-->
                <!--                    </div>-->
                <!--                    <div style="display: block">-->
                <!--                        <a class="nav-link" style="width: 67px; height: 55px; " href="#">Sign In</a>-->
                <!--                    </div>-->

            </ul>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content" style="text-align: center;">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <!--                                <button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            <div class="list-ng-categories">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Chẩn đoán hình ảnh">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/chan-doan-hinh-anh.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Chẩn đoán hình ảnh</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Chấn thương chỉnh hình - Cột sống">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/chan-thuong-chinh-hinh.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title">
                                                    <a href="#">
                                                        Chấn thương chỉnh hình - Cột
                                                        sống
                                                    </a>
                                                </h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Cơ Xương Khớp">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/co-khop-xuong.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Cơ Xương Khớp</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Da liễu">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/da-lieu.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Da liễu</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Dinh dưỡng">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/dinh-duong.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Dinh dưỡng</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Di truyền &amp; Sinh học phân tử">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/dinh-duong.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title">
                                                    <a href="#">
                                                        Di truyền &amp; Sinh học phân
                                                        tử
                                                    </a>
                                                </h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Dị ứng">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/di-ung.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Dị ứng</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Dược">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/duoc.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Dược</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Đông y">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/dong-y.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Đông y</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Gây mê hồi sức">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/gay-me-hoi-suc.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Gây mê hồi sức</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Giải phẫu bệnh">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/giai-phau-benh.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Giải phẫu bệnh</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Hiếm muộn - Vô sinh">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/hiem-muon.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Hiếm muộn - Vô sinh</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Hô hấp">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/ho-hap.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Hô hấp</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Hồi sức - Cấp cứu">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/cap-cuu.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Hồi sức - Cấp cứu</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Kiểm soát nhiễm khuẩn">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/kiem-soat-nhiem-khuan.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Kiểm soát nhiễm khuẩn</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Lão khoa">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/lao-khoa.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Lão khoa</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Mắt">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/mat.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Mắt</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Nam khoa">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/nam-khoa.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Nam khoa</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Ngoại">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/ngoai.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Ngoại</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Nha khoa">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/nha.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Nha khoa</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Nhi">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/nhi.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Nhi</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Nội">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/noi.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Nội</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Nội soi">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/noi-soi.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Nội soi</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Nội tiết">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/noi-tiet.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Nội tiết</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Răng hàm mặt">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/rang-ham-mat.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Răng hàm mặt</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Sản phụ khoa">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/san.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Sản phụ khoa</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Tai mũi họng">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/tai-mui-hong.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Tai mũi họng</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Tâm thần">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/tam-than.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Tâm thần</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Thăm dò chức năng">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/tham-do-chuc-nang.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Thăm dò chức năng</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Thẩm mỹ">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/tham-my.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Thẩm mỹ</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Thần kinh">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/than-kinh.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Thần kinh</a></h3>
                                            </div>
                                        </div><!-- END Cat Item -->
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Thận - Tiết niệu">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/than-tiet-nieu.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Thận - Tiết niệu</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Tiêu hóa - Gan mật">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/tieu-hoa.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Tiêu hóa - Gan mật</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Tim mạch">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/tim-mach.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Tim mạch</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Truyền nhiễm">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/truyen-nhiem.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Truyền nhiễm</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Ung bướu">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/ung-buou.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Ung bướu</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Vật lý trị liệu - Phục hồi chức năng">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/vat-ly-tri-lieu.svg"
                                                     alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title">
                                                    <a href="#">
                                                        Vật lý trị liệu - Phục hồi chức
                                                        năng
                                                    </a>
                                                </h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex" data-seo="Xét nghiệm">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/xet-nghiem.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Xét nghiệm</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="cat-item specialist_data_detail d-flex"
                                             data-seo="Y tế dự phòng">
                                            <div class="cat-image">
                                                <img src="https://chiaseyhoc.net/imgpc/icons/icon-yte.svg" alt="">
                                            </div>
                                            <div class="cat-model">
                                                <h3 class="cat-title"><a href="#">Y tế dự phòng</a></h3>
                                            </div><!-- END Cat Item -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>