<section class="header-uper">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-3">
                <div class="logo">
                    <a href="index.html">
                        <img loading="lazy" class="img-fluid" src="~/Content/images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-9">
                <div class="right-side">
                    <ul class="contact-info pl-0 mb-4 mb-md-0">
                        <li class="item text-left">
                            <div class="icon-box">
                                <i class="far fa-envelope"></i>
                            </div>
                            <strong>Email</strong>
                            <br>
                            <a href="mailto:info@medic.com">
                                <span>info@medic.com</span>
                            </a>
                        </li>
                        <li class="item text-left">
                            <div class="icon-box">
                                <i class="fas fa-phone"></i>
                            </div>
                            <strong>Call Now</strong>
                            <br>
                            <span>+ (88017) - 123 - 4567</span>
                        </li>
                    </ul>
                    <div class="link-btn text-center text-lg-right">
                        @*<a href="contact.html" class="btn-style-one">Appoinment</a>*@
                        @Html.ActionLink("Write a post to share", "Create", "Posts", new { @class= "btn-style-one" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
